<div class="users-wrapper mt-4 flex w-full justify-between items-center">
  <div class="user-item flex flex-row pl-2">
    <div class="user-img h-10 w-10 border rounded-full overflow-hidden mr-4">
      <% if profile.avatar.attached? %>
        <%= image_tag  profile.avatar, width: "100px" %>
      <%end %>
    </div>
    <div class="user-name flex flex-col ">
      <%=link_to profile.user_name, controller: 'profile', action:'show', id: profile.id, class: "text-sm font-semibold"%>
      <span class="text-xs -mt-1 text-gray-700"><%=profile.name %></span>
    </div>
  </div>
    <a href="#"
       data-reflex="click->Followers#follow"
       data-step=<%="#{current_user.profile.id},#{profile.id}"%>
    >
      <span class="follow text-blue-600 text-sm font-semibold">Seguir</span>
    </a>
</div>